.macro-row {
    background-color: white;
    color: black; 
  }
  
  .equities-row {
    background-color: lightblue; 
    color: black;
  }
  
  .credit-row {
    background-color: green;
    color: white; 
  }
  
  .positive-price {
    color: darkblue;
  }
  
  .negative-price {
    color: red;
  }