
.trade-table {
    width: 75%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
  }

  
  .trade-table .equities {
    background-color: #cce5ff; /* Light Blue */
  }
  
  .trade-table .macro {
    background-color: #ffffff; /* White */
  }
  
  .trade-table .credit {
    background-color: #d4edda; /* Light Green */
  }
  
  .trade-table .price-positive {
    color: blue;
  }
  
  .trade-table .price-negative {
    color: red;
  }
  